html, body {
    height: 100%;
    width: 100%;
}

.navbar { 
    background-color: #23415c;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar .navbar-nav li a {
    color: #e2e2e2;
}